 <!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Home | Techlore</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./partials/links2', {page: "home"}) %>
</head>
<body>
    <%- include('./partials/navbar', {page: "home", user: session.user}) %>
    <div class="main">
    <h1 class="title">TECHLORE</h1>
        <h3> Welcome to <span>TECHLORE</span> | Project by <span>GSVD Programmers </span></h3>
    </div>
    <div class="about" id="about">
        <h1>About us</h1><br>
        <p>
            Welcome to <span>TECHLORE</span>, an innovative project by <span>GSVD Programmers</span>, dedicated to enhancing your digital experience with a suite of versatile applications. Our offerings include a powerful <span>Translator App</span> for seamless communication across languages, a reliable <span>Weather App</span> to keep you updated on the latest weather conditions, a productive <span>To-Do App</span> for efficient task management, an engaging <span>Quiz App</span> for fun and learning, and a precise <span>Calculator App</span> for all your mathematical calculations. Techlore embodies the spirit of innovation and convenience, bringing a touch of excellence to your digital toolkit. Join us as we simplify and enrich your daily life with technology you can trust.
        </p>
        <!-- <p>TECHLORE is a leading Web app developing company in Sri Lanka. Which was made by 4 Web developers in Sri Lanka.Now we introducing our site with five softwares.<br><br><span class="hero">1) Quiz app<br>2) Calculator<br>3) Language translator.<br>4) Weather App<br>5) To-Do App<br></span><br><br> Also we hope to add many softwares in the future. if you want some special softwares please use the contact form to contact techlore customers care.</p> -->
    </div>
    <div class="analytics">
        <h1>Our analytics</h1>
     <div class="view_count">
        <h2>Total Traffic</h2>
        <p><%-visits%></p>
     </div>
     <div class="view_count">
            <h2>Total Logged People</h2>
            <p><%-logins%></p>
        </div>
    </div>
    <div class="contact">
        <form action="https://api.web3forms.com/submit" method="POST" class="contact_title">
            <h1>Techlore Customer Care</h1>
            <hr>
            <div class="contact_1">
    <input type="hidden" name="access_key" value="71e5d38c-614d-4169-9486-b27a655483da">
    <input type="text" name="name" placeholder="Your Name" class="contact_input" required>
    <input type="text" name="email" placeholder="Your Email" class="contact_input" required>
    <textarea name="message" placeholder="Your Message" class="contact_input" required></textarea>
    <button type="submit">Submit</button>
            </div>
    </div>
        </form>
    </div>
        <%- include('./partials/footer') %>
</body>
    
</html>