<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Profile | Techlore</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%- include('./partials/links2', {page: "profile"}) %>
</head>
<body>
    <%- include('./partials/navbar', {page: "profile", user: session.user}) %>
            <div class="container4">
                <h1>Welcome <span class="w-name"><%-userdata.name%></span></h1>
                <h5> <%-userdata.username%> <span style="color: #303030;">|</span> <%-userdata.email%></h5>
                    <a href="/logout"><button>Sign out</button></a>

                  <% if(userdata.admin.status === true){ %>
                      <a href="/admin/"><button>Admin Dashboard</button></a>
                         <%}%>
                </div>
        <%- include('./partials/footer') %>
</body>
</html>

         